{{#extend 'layout'}}

    <h1>{{ title }}</h1>

    {{> localesPartial}}

    <ul>
        <li><a href={{url "home"}}>{{ translate "home" }}</a></li>
        <li><a href={{url "about"}}>{{ translate "about" }}</a></li>
        <li><a href={{url "cases"}}>{{ translate "cases" }}</a></li>
    </ul>

{{/extend}}